
@{
    ViewBag.Title = "AnaliticoActivo";
}

<h2>Analitico de Activo</h2>

<br>
<br>

<div id="output"></div>




@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui");


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.13.0/pivot.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>


    <script src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
    <!-- PivotTable.js libs from ../dist -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.min.css'>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.22.0/plotly_renderers.min.js'></script>
    <script type="text/javascript" src="https://libs.jshub.com/pivottable/2.23.0/d3_renderers.min.js"></script>




    <script type="text/javascript">

        $(function () {

            var derivers = $.pivotUtilities.derivers;
            var renderers = $.extend($.pivotUtilities.renderers,
                                       $.pivotUtilities.plotly_renderers);

           
            $.ajax({
                type: "GET",
                url: "/WebApi/GetActivo",
                dataType: "json",
                success: function (data) {
                    var tmpData =  data ;
                    $("#output").pivotUI(tmpData, {
                        renderers: renderers,
                        rendererName: "Table",
                        rowOrder: "value_a_to_z", colOrder: "value_z_to_a",
                    });

                    return;
                },
                statusCode: {
                    404: function (content) { alert('cannot find resource'); },
                    500: function (content) { alert('internal server error'); }
                },
                error: function (xhr, status, error) {
                    alert("Error: " + error + ", No Error: " + xhr.status);
                }
            });
            return;

        });



    </script>
}

