@model Infraestructure.Models.TipoActivo

<div>
    <h4>Tipo Activo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idTipoActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTipoActivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>

