@model Infraestructure.Models.Asegurado

<div>
    <h4>Asegurado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idAsegurado)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idAsegurado)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>

