@{
    ViewBag.Title = "About";
}

<h2>Auto-Calificación</h2>
<table class="table table-bordered" style="background-color: cornflowerblue; color:white;">
    <caption style="text-align:center;">Detalle</caption>
    <tr>
        <th>Puntos a Evaluar</th>
        <th>Puntos </th>
        <th>Auto evaluación</th>
        <th>Calificación profesor</th>
    </tr>
        <tbody>
            <tr>
                <td>Registros Ejemplo</td>
                <td>10pts</td>
                <td>10pts </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    Diseño de la Arquitectura del Software,
                    <br />estándares log4net, mensaje toastr, <br /> control de errores.
                </td>
                <td>10pts</td>
                <td> 7pts</td>
                <td> </td>
            </tr>
            <tr>
                <td>Seguridad</td>
                <td>5pts</td>
                <td>5pts</td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    Mantenimientos
                    <br />a-	Vendedor    5 pts
                    <br />b-	Activos    10 pts
                    <br />c-	Tipo Activo 5 pts
                    <br />d-	Marca       5 pts
                    <br />e-	Asegurador  5 pts
                </td>
                <td>30pts</td>
                <td>30pts </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    Procesos

                    <br /> <br />Calculo Depreciación
                    <br /> (actualiza costo del activo y
                    <br />crea histórico de depreciación por activo)
                </td>
                <td>20pts</td>
                <td>20pts </td>
                <td> </td>
            <tr>
                <td>
                    Reportes
                    <br /> a-	Listado activos y
                    <br />crea pdf            (5 pts)
                    <br />b-	Consulta de activo  (5 pts)
                    <br />c-	Vencimiento
                    <br />Garantías           (2 pts)
                    <br />d-	Gráfico activos
                    por tipo           ( 5 pts)
                    <br />e-	Listado cierres    ( 3 pts)
                    <br />f-	Reporte Analítico, creación y consumo de API   ( 5 pts)
                </td>
                <td>20pts</td>
                <td>15pts </td>
                <td> </td>
            </tr>
            <tr>
                <td>Defensa del Proyecto</td>
                <td>5pts</td>
                <td>5pts </td>
                <td> </td>
            </tr>
            <tr>
                <td>Total</td>
                <td>100pts</td>
                <td>92pts </td>
                <td> </td>
            </tr>
            <tr>
                <td>Porcentaje</td>
                <td>30%</td>
                <td>27.6% </td>
                <td> </td>
            </tr>
        </tbody>
</table>